

Button
{
    -fx-background-color: transparent;
}

.manageTab:hover
{
    -fx-background-color: #c6afaf;
}

.menuBar
{
    -fx-background-color: #0850af;

}

//hover na menu
.subMenuHover:hover
{

    -fx-background-color: #c9cfd8;
}

//przycisk na manu
VBox AnchorPane Button:pressed
{

    -fx-background-color: #a7acb2;
}

//przycisk w zwijanym menu
VBox VBox Button: pressed
{
   -fx-background-color: #a7acb2;
}

//hover na przycisk w zwijanym menu
VBox VBox Button: hover
{
   -fx-background-color: #c9cfd8;
}

//wlasciwosci do przycisku zamykajacego program--------------------------
HBox
{
    -fx-background-color: #b0b3b7;
}

HBox JFXButton:pressed
{
    -fx-background-color: #912421;
}

HBox JFXButton:hover
{
    -fx-background-color: #ff0000;
}
//-----------------------------------------------------


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}